.nav {
  display: flex;
  height: 4rem;

  align-items: center;
  background-color: #00afff;
  color: white;
  box-shadow: 0px 0px 16px 3px #00afff;
}
.nav-cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}
.nav-links {
  display: flex;
  gap: 9px;
}
.nav button {
  background-color: #00afff;
  border: none;
  outline: none;
  color: white;
  font-family: sans-serif;
  padding: 0.5rem;
  font-size: 1rem;
}
.nav button:hover {
  /* background-color: #0091ff9b; */
  font-weight: 700;
  cursor: pointer;
}
